.wrapper {
	margin: 0 auto;
	width: 1200px
}

.logo {
	max-width:18%
}

@media only screen and (max-width: 768px){
	[class*="col-"] {
	/*mobile*/
	float:left;
	padding:3%;
	width:100%;
	}
}

@media only screen and (min-width:600px){
	/*tablets*/
.col-1 {
	width: 33%;
	float:left;
	padding-bottom:4%;
	border-bottom: 1px solid #BCBEC0;
}

.col-2 {
	width: 67%;
	float:left;
	padding-bottom:4%;
	border-bottom: 1px solid #BCBEC0;
	}

}
@media only screen and (min-width: 768px){
	/*desktop*/
.col-1 {
	width: 33%;
	float:left;
	padding-bottom:4%;
	border-bottom: 1px solid #BCBEC0;
}

.col-2 {
	width: 67%;
	float:left;
	padding-bottom:4%;
	border-bottom: 1px solid #BCBEC0;
	}
}

.row::after{
	content:"";
	clear:both;
	display:table;
}


.heading {
	margin: 10px auto;
	width: 100%;
	float: left;
	height: 75px;
	border-bottom: 2px solid #1C1C1C;
	border-bottom-width: 0 auto;
}

.content {
	margin: 0 auto;
	width: 100%;
	border-bottom: 2px solid #1C1C1C;
	border-bottom-width: 0 auto;
}

#thumbnail {
	width: 100%;
	margin: 1%;
}

nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .25em;
	float:right;
}

nav a {
	color: #1C1C1C;
	text-decoration: none;
	display:inline-block;
	margin:20px 4em;
}

nav a:hover {
	border-bottom: solid 2px;
	padding-bottom:4px;
}


p {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #1C1C1C;
	line-height: 1.5em;
}

h1{
	font-size: 1.3em;
	}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	}

h3{
	font-family: "brandon-grotesque", sans-serif;
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: .1em;
	}

h6{
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
	}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
	padding-top: 4%;
	text-align: center;
	border-top: 2px solid #1C1C1C;
	border-top-width: 0 auto;

}

*{
	box-sizing: border-box;
}