* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: adobe-caslon-pro, serif;
	font-size:15px;
	font-style:normal;
	font-weight:400;
	color:#022a3a;
	line-height:21px;
	text-rendering:optimizeLegibility;
}

main {
	padding:130px 0 50px 0;
}

footer {
	padding:4em 0;
	background:#022a3a;
}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}

.content-wrapper {
	width:1000px;
	margin:0 auto;
}

/*<HEADER>*/

.header-bg {
	position:fixed;
	background:#fff;
	height:75px;
	width:100%;
	top:0;
	border-bottom: 2px solid #022a3a;
	z-index:100;
 	box-shadow:1px 1px 2px rgba(0, 0, 0, .1);
}

#logo {
	display:block;
	padding:10px 20px;
	margin:auto;
	color:#022a3a;
	fill:#022a3a;
}

#logo:hover {
	fill:#FE6359;
	color:#FE6359;
}

.social-icon, .footer-social-icon, .copy-social-icon {
	display:inline-block;
}

.social-icon {
	padding:.5em 1em;
	margin:0 8px;
}

.copy-social-icon {
	padding:.25em;
	margin:auto 0;
}

.footer-social-icon {
	padding:0 16px 8px 0;
	margin:16px 8px 0 0;
	vertical-align: top
}

.social-icon:hover, .footer-social-icon:hover, .copy-social-icon:hover {
	fill:#FE6359;
	color:#FE6359;
}

/*<NAV>*/
nav {
	display:block;
	font-family: "brandon-grotesque", sans-serif;
	font-size:.85em;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:.1em;
}

nav a {
	text-decoration:none;
}

nav a:active {
	color:#657782;
}

nav ul { /*Nav List*/
	margin:0;
	padding:0;
	list-style:none;
	background:rgba(255, 255, 255, .95);
}

nav ul li a { /*Nav List Anchor*/
	padding:30px 10px;
	border-bottom:none; /*links have bottom borders; don't want on nav*/
}

nav ul li a:hover { /*Nav List Anchor on Hover*/
	padding:30px 10px;
	border-bottom:none; /*links have bottom borders; don't want on nav*/
}

.nav {
	vertical-align:top;
	display:inline-block;/* displays inline but has padding/margin capabilities of block*/
}

.nav a { /*Class Nav Anchor*/
	display: block; /*Block elements can have margins and padding; will disrupt flow*/
	color:#022a3a;
	padding:.5em 1.5em;
	text-transform:uppercase;
	letter-spacing:.125em;
	position:relative; /*positioned relative to its normal position, which I think means left*/
	}

.nav li { /*Class Nav List Item*/
	position:relative;
	float:left;
  }

.nav li a { /*Class Nav List Item Anchor */
 	margin:0 1px 1px 0; /*Same as Nav List Item*/
 }

.nav li:hover > a {/*Class Nav List Item Hover, and also List Item Hover Anchor 
	descended from Nav List Item Hover*/
	color:#FE6359; /*Hover changes to coral*/
	padding: .5em 1.5em; /*Same as Nav Anchor*/
 }

.nav li:last-child {
 	margin-right:0;/* No need for a margin on the last element*/
 }

.nav li a:first-child:nth-last-child(2):before { 
 	/*Styled List Item Link in the class of Nav: There's two children. This encompasses 1-all (2) 
 	and is what it looks like at the begining*/
 	content:"";
 	height:0;
 	width:0;
 	border:5px solid transparent; /*This is the arrow*/
 	top:40%; /*This refers to where it starts from the top*/
 	right:5px; /*I'm assuming this makes the triangle*/
 	position:absolute; /*why?*/
  }

.nav ul { /*sub menu*/
 	white-space:nowrap; /*Text will not wrap and continues until <br> introduced*/
 	border-bottom:none;
 	z-index:1; /*It's going to sit proud of its predecessor*/
 	left:-99999em; /*This UL is off on the left and visible 
 	if the screen were the size of a building*/
 	position:absolute;
 	box-shadow:1px 1px 2px rgba(0, 0, 0, .1);
  }

.nav > li:hover > ul { 
 	/*> = "Select elements that are direct descendants only"
 	UL only of a Hovered Over List Item within the class of Nav*/
 	left:auto;
 	padding-top:5px;
 	min-width:100%;
 }

.nav li li:hover > ul {/* When the UL of only a List Item or a Hovered Over List Item 
	in the class of Nav*/
	left:100%;
	top:0;
}

.nav > li > a:first-child:nth-last-child(2):before { /*services triangle up/down*/
	border-top-color:#022a3a;
 }

.nav > li:hover > a:first-child:nth-last-child(2):before {
 	border:5px solid transparent; /*whole thing is transparent*/
 	border-bottom-color: #FE6359; /*triangle turns red*/
 	margin-top:-2px; /*why?*/
 }

.nav li li > a:first-child:nth-last-child(2):before { /*resume triangle left/right*/
	border-left-color:#022a2a;
	margin-top:-2px;
}

.nav li li:hover > a:first-child:nth-last-child(2):before {
	border:5px solid transparent;
	border-right-color: #FE6359;
	right:10px; /*why?*/
}

/*LINKS*/

a {
	text-decoration:none;
	border-bottom:2px solid #FE6359;
	padding-bottom:1px;
	color:#022a3a;
}

a:hover {
	text-decoration:none;
	border-bottom:2px solid #FE6359;
	padding-bottom:1px;
	color:#FE6359;
}

/*POSITION*/

.vm { /*vertical middle / why does it only work half the time?*/
	margin:auto;
	transform: translateY(50%);
 }

.hm {
	margin:auto 0;
}

.right {
 	float:right;
 }

.left {
 	float:left;
 }

 .center {
 	text-align:center;
 	margin:0 auto;
 }

/*IMAGES*/

img {
	width:100%;
}

.page-header {
    padding: 3.5em 0;
    background: #F1EEEC;
    width: 100%;
    margin-bottom:56px;
}

.img-link, .img-link:hover {
	border-bottom:none;
}

.info-img {
	top:0;
	right:0;
	overflow:hidden;
	max-width:1400px;
}

.gif-panel {
	width: calc(33.33% - 20px);
	height:200px;
    margin: 0 20px 0 0;
    float:left;
}

/*TEXT*/

h1, h2, h5, .pull-quote {
	font-style:italic;
	font-weight:100;
}

h1 {
	font-size:3.5em;
	line-height:1.3em;
}

h1 a {
	border-bottom:4px solid #FE6359;
	padding-bottom:1px;
}

h1 a:hover {
	border-bottom:4px solid #FE6359;
	padding-bottom:1px;
}

h2, .pull-quote, .footnote { /*old sub*/
	font-size:2em;
	line-height:1.25em;
}

h3, h4 {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:.1em;
}

h3 { /*old h2*/
	font-size:.67em;
	line-height:1em;
	}

h4 { /*old h3*/
	font-size:.9em;
	line-height:1.33em;
	margin-bottom:4px;
	}

h5 { /*old h6*/
	font-size:1.1em;
	line-height:1.5em;
}

p {
	line-height:1.5em;
	margin-bottom:16px;
}

.indent {
	margin:32px 0 0 32px;
	font-style:italic;
}

.pull-quote {
	border-top:1px solid #022a3a;
	border-bottom:1px solid #022a3a;
	padding:2em 0;
	width:100%;
}

.footnote {
	font-style:italic;
	margin-bottom:8px;
	font-size:1.25em;
}

/*COLOR*/

.blue {
	color:#022a3a;
	fill:#022a3a;
}

.white {
	color:#fff;
	fill:#fff;
}

.red {
	color:#FE6359;
	fill:#FE6359;
}

/*PROJECT THUMBNAIL*/

.project { /*container*/
	position:relative;
	top:0;
	left:0;
}

.project-img-square, .project-img-round, .service-img {
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	margin:1px 0;
}

.project-img-square, .project-img-round {
	padding:16px;
}

.project-img-round {
	border-radius:50%;
}

.service-img {
	padding:0;
}

.overflow-right {
	right:0;
	overflow:hidden;
	height:50%;
}

.thumbnail-overlay, .service-overlay{
	position:absolute;
	bottom:0;
	height:100%;
}

.thumbnail-overlay {
	width:50%; /*half of thumbnail*/
}

.service-overlay{
	width:45%; /*half of thumbnail*/
}

.thumbnail-overlay{
	left:0; /*align right*/
	opacity:.95;
	background:#FBFDFD;
	height:100%;
}

.thumbnail-title-position, .service-title-position {
	position:absolute;
}

.thumbnail-title-position {
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.service-title-position {
	transform: translateY(8%);
}

.thumbnail-title {
	font-size:1.5em;
	line-height:1em;
	font-style:italic;
	font-weight:100;
	margin-bottom:8px;
}

.thumbnail-title:hover, .service-title a:hover {
	color:#FE6359;
}

.thumbnail-caption {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:.1em;
	line-height:1.5em;
	color:#4E6370;
	}

/*COLUMNS*/

.col-1 {
	width:8.33%;
}

.col-2 {
	width:16.67%;
}

.col-3 {
	width:25%;
}

.col-4 {
	width:33.33%;
	padding:0 16px;
}

.col-4:last-of-type {
	width:33.33%;
	padding-right:0;
}

.col-5 {
	width:41.67%;
}

.col-6 {
	width:50%;
}

.col-7 {
	width:58.33%;
	padding:0 18px;
}

.col-7:first-of-type {
	padding-left:0;
}

.col-8 {
	width:66.67%;
	padding:0 16px;
}

.col-8:first-of-type {
	padding-left:0;
}

.col-9 {
	width:75%;
}

.col-10 {
	width:83.33%;
}

.col-11 {
	width:91.67%;
	padding:8px;
}

.col-12 {
	width:100%;
	padding:8px;
}

[class*="col-"] {
	float:left;
}

/*GROUPING*/

.row-1 {
	padding:1em 0;
}

.row-2 {
	padding:2em 0;
}

.row-6 {
	padding:6em 0 3em;
}

.panel-1{
	padding:5em 0;
	width:100%;
}

.panel-1:first-of-type {
	padding-top:0;
}

.panel-1:last-of-type {
	padding-bottom:1.5em;
}

.panel-2 {
	background: #F1EEEC;
	padding:2em 0;
	width:100%;
}

.list-content {
	width:33.33%;
	padding:0 16px 0;
}

.list-content:first-of-type {
	padding-left:0;
}

.list-content:last-of-type {
	padding-right:0;
}

.list-item {
	padding:.5em 0;
	font-weight:400;
	font-style:italic;
	font-size:1em;
	line-height:1.5em;
	letter-spacing:.025em;
	border-bottom:1px solid #B9C0C6;
}

.list-item:last-of-type {
	border-bottom:none;
}

li {
	list-style-type:none;
}

/*FORM*/

table {
	width:90%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
	border:none;
    border-bottom: 2px solid #778692;
    background-color:#fff;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #FE6359;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F42534;
}

/* Style the container/contact section */
.container {
    background-color: #fff;
    padding: 10px;
}

input, select, textarea, option {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: .8em;
	line-height: 1.25em;
}

button, label {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.67em;
	letter-spacing:.2em;
}

textarea {
	height:182px;
}

@media only screen and (max-width: 320px) {
	.content-wrapper {
		width:80%;
	}
