* {
	box-sizing:border-box;
	padding:0;
}

body {
	font-family: adobe-caslon-pro, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #1c1c1c;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}

.wrapper {
	max-width:1100px;
	margin:0 auto;
}

.img-social {
	padding:2em 0 0 2.5em;
	float:right;
	display:inline;
}

h1{
	font-size: 2.25em;
	font-weight: 100;
	font-style: italic;
	line-height: 1.5em;
	}

h2{
	font-size:1em;
	font-weight:800;
	color:#738698;
	line-height:1.25em;
	text-transform:uppercase;
	}

h3{
	font-size:.875em;
	font-weight:600;
	color: #1c1c1c;
	}

h4{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.5627em;
	font-weight:600;
	text-transform:uppercase;
	color: #3fae2a;
	}

h5{
	font-size:.5em;
	font-weight:400;
	}

.uppercase {
	text-transform:uppercase;
	font-weight:400;
	font-size:.7em;
}

nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	text-transform:uppercase;
	margin: auto;
	letter-spacing:.1em;
}

nav a {
	border-bottom: .1em solid #fff;
	float:left;
	margin:40px 12px;
}

nav a:hover {
	border-bottom: .1em solid #fff;
	color: #FE6359;
}

a {
	border-bottom: .1em solid #FE6359;
	padding-bottom: .1em;
	text-decoration:none;
	color:#1c1c1c;
}

a:hover {
	text-decoration:none;
	border-bottom: .1em solid #FE6359;
	padding-bottom: .1em;
	color: #FE6359;
}

.st0{
	fill:#fff;} 

.st1{
	fill:#1c1c1c;}

.st0:hover {
	fill: #FE6359;
	}

.st1:hover {
	fill: #FE6359;
}

.first {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}

.third {
    position: absolute;
    right: 0%;
    text-align: right;
}

.border {
	border-bottom:.1em #1c1c1c solid;
	padding-bottom:1em;
	margin-bottom:2em;
}

.thin-border {
	border-bottom:.05em #1c1c1c solid;
	padding-bottom:1em;
	margin-bottom:2em;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 20px;
}

.row::after {
    content: "";
    clear:both;
    display:table;
}

img {
	width:100%;
	}

.link{
	border-bottom:none;
	}

.link:hover{
	border-bottom:none;
	}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}