* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

body {
	font-family: adobe-caslon-pro, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #022A3A;
	text-rendering: optimizeLegibility;
	background-color:#FBFDFD;
	}

/*  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  */


h1{
    font-size: 56px;
    line-height: 70px;
	font-weight: 100;
	font-style: italic;
	padding-bottom:75px;
	color:#778692;
	}

h1 a {
	color:#778692;
}

h2 {
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.1em;
	line-height:1em;
	margin-bottom:16px;
	}

h2, h3, h4, h5, nav {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	}

h3 {
	font-size:.9em;
	letter-spacing:.1em;
	margin: 0 auto 8px;
	line-height:1.25em;
	}

h4 {
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.1em;
	line-height:1.2em;
	}

h5{
	font-size:.67em;
	color: rgba(115, 134, 153, .67);
	letter-spacing:.1em;
	}

h6{
	font-size:1.1em;
	line-height:1.5em;
	font-style:italic;
	font-weight:200;	
	}

.title {
	margin-top:175px;
}

figcaption {
	font-size:.75em;
	font-style:italic;
	font-weight:200;	
	margin-bottom:20px;
	}

p{
	font-size: 1.1em;
	line-height: 1.25em;
	margin-bottom:8px;
	}

.sub{
	font-size:32px;
	line-height:48px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	padding:0 0 40px 0;
	margin:-15px 0 0 0;
	float:left;
	}

.caption {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:.1em;
	line-height:1.5em;
	color:#4E6370;
}

.spacing {
	padding-bottom:24px;
}

ul {
	line-height: 1.75em;
	text-align:center;
}

li{
	text-rendering: optimizeLegibility;	
	display:inline-block;
	padding:5px;
	word-wrap:wrap;
	list-style-type: square;
	border-right: 1px solid #022a3a;
	vertical-align:top;
	width:125px;
}

li:last-of-type{
	border-right:none;
}

.project-title {
	width:400px;
}

nav {
	font-size:.75em;
	letter-spacing:.1em;
	}

nav a {
	border-bottom: .1em solid #fff;
    padding: 30px 10px;
}

nav a:hover {
	border-bottom: .1em solid #fff;
	color: #FE6359;
	padding: 30px 10px;
	}

nav a:active {
	border-bottom: .1em solid #fff;
	color:#657782;
	padding: 30px 10px;
}

.lowercase {
	text-transform:none;
	}

.center {
	text-align:center;
}

.arrow {
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #022A3A;
  border-width: 0 0 3px 3px;
  transform: rotate(45deg);
  margin:auto;
}

.arrow:hover {
	border-color: #FE6359;
}

.arrow-up {
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #022A3A;
  border-width: 0 0 3px 3px;
  transform: rotate(-135deg);
  margin:auto;
}

.arrow-up:hover {
	border-color: #FE6359;
}

/*  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  */


.content-wrapper {
	width:1000px;
	margin:0 auto;
	padding:30px 0;
}

.white-bg {
	position:fixed;
	background:#FBFDFD;
	height:80px;
	z-index: 1;
	width:100%;
	left:50%;
	transform:translateX(-50%);
	border-bottom: .15em solid #022A3A;
	}

main {
	padding-top:150px;
}
.panel-1 {
    margin: 290px 0 0;
	border-top: 750px solid #EAE6E4;
	border-right: 1500px solid transparent;
}

.panel-1:last-of-type {
	margin-bottom:0;
}

.panel-2 {
	margin-top:-60px;
	border-top: 750px solid #EAE6E4;
	border-left: 1500px solid transparent;
}

.panel-3 {
	margin-top:-60px;
	border-top: 750px solid #EAE6E4;
	border-right: 1500px solid transparent;
}

.green {
    color: #3FAE2A;
}

.red {
    color: #FE6359;
}

.col-1 {
	width: 8.33%;
	}

.col-2 {
	width: 16.67%;
	}

.col-3 {
	width: 25%;
	}

.col-4 {
	width: 33.33%;
	}

.col-5 {
	width: 41.66%;
	}

.col-6 {
	width: 50%;
	}

.col-7 {
	width: 58.33%;
	}

.col-8 {
	width: 66.67%;
	}

.col-9 {
	width: 75%;
	}

.col-10 {
	width: 83.33%;
	}

.col-11 {
	width: 91.66%;
	}

.col-12 {
	width: 100%;
	}

[class*="col-"] {
    float:left;
    box-sizing:border-box;
	}

.col-5 {
	padding:0 9px;
	margin-bottom:48px;
	}

.col-5:nth-of-type(odd){
	padding-left:0;
}

.col-5:nth-of-type(even){
	padding-right:0;
}

.col-6 {
	padding:0 9px;
	margin-bottom:48px;
	}

.col-6:nth-of-type(odd){
	padding-left:0;
}

.col-6:nth-of-type(even){
	padding-right:0;
}

.col-8 {
	padding-left:24px;
	}

.col-2, .col-9, .col-10 {
	padding-left:16px;
	}

.col-4 {
	padding:0 10px 10px;
}

.col-4:nth-of-type(3n + 1){
	padding-left:0;
}

.col-4:nth-of-type(3n + 2){
	padding:0 5px;
}

.col-4:nth-of-type(3n+3){
	padding-right:0;
}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}

.row {
    padding:250px 0;
    margin:0 auto;
}

.row-inner {
    padding:15px 0;
}

.row-interior {
    padding:25px 0;
}

.row-section {
	padding:50px 0;
}

.row, .row-inner::after {
    content: "";
    clear:both;
    display:table;
}

footer {
	border-top:solid #022A3A .1em;
	width:100%;
	padding:1em 0;
	background-color:#1E3C4B;
}

/*  PROJECT OVERLAY  PROJECT OVERLAY  PROJECT OVERLAY  PROJECT OVERLAY  */

.project {
	position:relative;
	float:left;
	}

.project-img {
    margin: 5px 0;
    padding:0 4px;
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	}

.project-img-round {
    margin: 5px 0;
    padding:0 4px;
    border-radius:50%;
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	}

.about-img {
	display:block;
	width:100%;
	height:auto;
	z-index:-1;
	}

.details-img {
	padding:1em 0;
}

.overlay {
	position: absolute;
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	height: 100%;
	width: 50%;
	opacity: .92;
	background-color: #FBFDFD;
	}

.img-title {
	font-size:24px;
	line-height:26px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	margin-bottom:8px;
}

.img-title:hover {
	color:#FE6359;
}

.img-title-position {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	padding:0 10px 0 0;
	margin:-15px 0 0 0;
}

/*  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  */


.logo{
	fill:#022A3A;
	padding:20px;
	}

.logo:hover {
	fill:#FE6359;
	padding:20px;
}

.social-outline {
	fill: #022A3A;
    padding:30px 16px;
	}
	
.social-outline:hover {
	fill: #FE6359;
	padding:30px 16px;
	}
 
.s-footer {
    fill: #fff;
    padding:15px 25px 15px 0;
    display:inline-block;
	}

.s-footer:hover {
	fill:#FFFCFB;
    padding:15px 25px 15px 0;
    display:inline-block;
}

.padding {
	padding:15px;

}

.padding:hover .social-outline-footer {
	fill: #FE6359;
}

.white {
	color:#fff;
	fill:#fff;
}

.st0{
	fill:#022A3A;
	}

.st0:hover {
	fill:#F42534;
}

.img-link:hover .st0 {
	fill:#F42534;
}

.s-footer .st0 {
	fill:#fff;
}

.st1{
	fill:#6EBF58;
	}

.brush{
	fill:#F94645;
	}

.xacto{
	fill:#022A3A;
	}

.pen {
	fill:#6EBF58;
	}

.philips{
	fill:#8B7F77;
	}

.spatula{
	fill:#BDBEC0;
	}

/*  POSITIONING  POSITIONING  POSITIONING  POSITIONING  POSITIONING  */

.first {
	position:absolute;
	float:left;
	padding: 16px;
	top:50%;
	transform: translateY(-50%);
	}

.first:hover .logo {
	fill:#FE6359;
}

.second {
	float:right;
    top:50%;
	transform: translateY(-25%);
	}

.fix {
	position:fixed;
	background:#fff;
	width:22%;
	padding: 100px 0 0 50px;
	}

.fix:hover {
	border-bottom: .1em solid #fff;
	}

.left{
	float:left;
}

.right {
	float:right;
}

/*  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT*/

input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px solid #778692;
    background-color:#fff;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #FE6359;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F42534;
}

/* Style the container/contact section */
.container {
    background-color: #fff;
    padding: 10px;
}

input, select, textarea, option {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	color:#022A3A;
	font-size: .8em;
	line-height: 1.25em;
}

button, label {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.2em;
}

textarea {
	height:182px;
}

/*  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  */

img {
	width:100%;
	}

/*  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  */


.img-link {
	border-bottom:none;
	clear:both;
	}

.img-link:hover {
	border-bottom:none;
	clear:both;
	}

a {
	border-bottom: 3px solid #FE6359;
	padding-bottom: 1px;
	margin-bottom:1px;
	text-decoration:none;
	color:#022A3A;
	}

a:hover {
	text-decoration:none;
	border-bottom: 3px solid #FE6359;
	padding-bottom: 1px;
	margin-bottom:1px;
	color: #FE6359;
	}

.back-button {
	border-bottom: none;
	margin-left:145px;
	}

.back-button:hover {
	color:#FE6359;
	margin-left:145px;
	}

@media only screen and (max-width: 1000px) {
	.content-wrapper {
		width:90%;
	}

@media only screen and (max-width: 770px) {
	.content-wrapper {
		width:75%;
	}
	h1 {
		font-size:48px;
		line-height:63px;
	}

	[class*="col-"] {
    float:left;
    width:50%;
	}

	.col-12 {
		width:100%;
	}

	.col-4 {
		padding:12px;
	}

	.col-4:nth-of-type(3n + 1) {
		padding-left:0;
		padding-right:10px;
	}

	.col-4:nth-of-type(3n + 2) {
		padding-left:0;
	}

	.col-4:nth-of-type(3n + 3) {
		padding-right:0;
	}

	.title {
		padding-top:0;
	}

	.panel-1 {
		 margin: 300px 0 0;
	}
}