* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

body {
	font-family: adobe-caslon-pro, serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	color: #022A3A;
	text-rendering: optimizeLegibility;
	}

/*  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  HEADINGS & TEXT STYLES  */


h1{
    font-size: 56px;
    line-height: 70px;
	font-weight: 100;
	font-style: italic;
	color:#022a3a; /*778692;*/
	}

h1 a {
	color:#022a3a;
}

h2 {
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.1em;
	line-height:1em;
	margin-bottom:16px;
	}

h2, h3, h4, h5, nav {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	}

h3 {
	font-size:.9em;
	letter-spacing:.1em;
	margin: 0 auto 8px;
	line-height:1.25em;
	}

h4 {
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.1em;
	line-height:1.2em;
	}

h5{
	font-size:.67em;
	color: rgba(115, 134, 153, .67);
	letter-spacing:.1em;
	line-height:1.2em;
	display:inline;
	}

h6{
	font-size:1.1em;
	line-height:1.5em;
	font-style:italic;
	font-weight:200;	
	}

.title {
	margin-top:175px;
}

figcaption {
	font-size:.75em;
	font-style:italic;
	font-weight:200;	
	margin-bottom:20px;
	}

p{
	font-size: 1.1em;
	line-height: 1.6em;
	margin-bottom:24px;
	}

table {
    display: table-row;
}

th {
    text-align:left;
    padding:3px;
    font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.9em;
	letter-spacing:.1em;
}

td {
    display: table-cell;
    width:225px;
    padding:3px;
}

.narrow {
	width:120px;
	padding:2px 2px 3px 0;
}

.short {
	margin-right:-35px;
	width:auto;
}

.short-half {
	width:150px;
}

.short-quarter {
	width:125px;
}

.long {
	width:400px;
}

.indent {
	padding-left:25px;
}

.sub{
	font-size:32px;
	line-height:48px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	padding:150px 0;
/*	float:left;*/
	}

.sub-2 {
	font-size:32px;
	line-height:48px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	padding:0 50px 15px 0;
	}

.sub-3 {
	font-size:32px;
	line-height:40px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	padding:5px 0 35px 0;
	float:left;
	}

.sub-4 {
	font-size:28px;
	line-height:32px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	padding:0 0 5px 0;
	float:left;
	}

.sub-padding {
	padding:0 0 10px 0;
	margin:0 40px;
	}

.sub-padding:hover {
	padding:0 0 10px 0;
	margin:0 40px;
	}

p.small {
	font-size: .95em;
	line-height: 1.2em;
	margin-bottom:8px;
}

p.small:last-of-type {
	margin-bottom:0;
}

.caption {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:.1em;
	line-height:1.5em;
	color:#4E6370;
}

.spacing {
	padding-bottom:24px;
}

.spacing-work {
	padding-bottom:100px;
}

.spacing:last-of-type {
	padding-bottom:0;
}

.project-title {
	width:400px;
}

nav {    
	display: block;
    text-align: center;
	}

nav a:active {
	color:#657782;
}

nav ul {
    margin: 0;
    padding:0;
    list-style: none;
	}

nav ul li a {
	border-bottom:none;
	padding: 30px 10px;
}

nav ul li a:hover {
	border-bottom:none;
	padding: 30px 10px;
}


.nav a {
	display:block; 
	color:#022a3a;
	background:rgba(255, 255, 255, 0.95); 
	text-decoration: none;
	padding: .5em 1.8em;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 2px;
	position: relative;
  }

.nav {  
    vertical-align: top; 
    display: inline-block;
	}

.nav li {
  	position: relative; 
    float:left; 
    margin-right: 1px; 
    margin-bottom:1px;
	} 

.nav li a { 
    margin-bottom:1px;
    margin-right: 1px;
   	margin-top:1px
	}

.nav li:hover > a {  
	color: #FE6359;
	padding: .5em 1.8em;
	}

.nav li:last-child  { 
  	margin-right: 0;
  } 
  
.nav li a:first-child:nth-last-child(2):before { 
    content:""; 
    position: absolute; 
    height:0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 40% ;
    right:5px;  
   } 

.down {
   	border-top-color: #022a3a;  
    top: 40% ;
    right:5px;  
} 

.down:hover {
	border: 5px solid transparent;
	border-bottom-color: #FE6359;
}
 
/* submenu positioning*/
.nav ul {
	position: absolute;
	white-space: nowrap;
	border-bottom: none; 
	z-index: 1;
	left: -99999em;
}
.nav > li:hover > ul {
	left: auto;
	padding-top: 5px  ;
	min-width: 100%;
}

.nav > li li:hover > ul { /*carrot = hidden subnav?*/
	left: 100%;
	top: 0;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
 	border-top-color: #022a3a; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
	border: 5px solid transparent; /*	double arrows without border transparent?*/
	border-bottom-color: #FE6359; 
	margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
	border-left-color: #022a3a; 
	margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
	border: 5px solid transparent; 
	border-right-color: #FE6359;
	right: 10px; 
}

.subnav {
	padding:10px 0 1px;
	margin:0 32px 1px 0;
	text-align:center;
	display:inline-block;
		font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.9em;
	letter-spacing:.1em;
}

.subnav:hover {
	padding:10px 0 1px;
	margin:0 32px 1px 0;
}

.subnav-text {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.9em;
	letter-spacing:.1em;
}

.lowercase {
	text-transform:none;
	}

.center {
	text-align:center;
	padding:2px 0;
	margin:10px 0;
}

.arrow {
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #022A3A;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display:inline-block;
}

.arrow:hover {
	border-color: #FE6359;
}

.arrow-up {
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #022A3A;
  border-width: 0 0 3px 3px;
  transform: rotate(135deg);
  margin:auto;
}

.arrow-up:hover {
	border-color: #FE6359;
}

.indent li {
	list-style-type: none;
	padding:8px 0;
}

/*  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  CONTAINERS  */


.content-wrapper {
	width:1000px;
	margin:0 auto;
	padding:12px 0;
}

.white-bg {
	position:fixed;
	background:#fff; /*F7FAFB;*/
	height:80px;
	z-index: 1;
	width:100%;
	left:50%;
	transform:translateX(-50%);
	border-bottom: .15em solid #022A3A;
	}

main {
	padding-top:140px;
}

.title-panel {
	padding:50px 0;
	margin:0 0 60px 0;
	background: #F1EEEC;
	width:100%;
}

.title-panel-none {
	padding:50px 0;
	margin:0 0 60px 0;
	width:100%;
}

.panel-2 {
	padding:35px 0 70px 0;
	width:100%;
}

.panel-2a {
	padding:35px 0;
	width:100%;
}

.panel-3 {
	padding:30px 0;
	background: #F1EEEC;
	width:100%;
}

.more-panel {
	background:#abdb92;
	padding:15px 0;
	width:100%;
}

.more-panel a {
	border-bottom:solid 3px #fff;
}

.more-panel a:hover {
	color:#fff;	
	border-bottom:solid 3px #fff;
}

.green {
    color: #3FAE2A;
}

.red {
    color: #FE6359;
}

.col-1 {
	width: 8.33%;
	}

.col-2 {
	width: 16.67%;
	}

.col-3 {
	width: 25%;
	}

.col-4 {
	width: 33.33%;
	}

.col-5 {
	width: 41.66%;
	}

.col-6 {
	width: 50%;
	}

.col-7 {
	width: 58.33%;
	}

.col-8 {
	width: 66.67%;
	}

.col-9 {
	width: 75%;
	}

.col-10 {
	width: 83.33%;
	}

.col-11 {
	width: 91.66%;
	}

.col-12 {
	width: 100%;
	}

[class*="col-"] {
    float:left;
    box-sizing:border-box;
	}

.col-5 {
	border-left:solid #022a3a 2px;
	padding:0 0 0 25px;
	margin: 0 0 0 10px;
	width: calc(41.66% - 10px);
	}

.col-5 .col-6 {
	margin-bottom:0;
}

.col-12 {
	padding-top:10px;
}
.col-6 .col-11 {
	border-bottom:solid #022a3a 1px;
	padding:0 0 10px 0;
	margin: 0 0 10px 0;
	}

svg .col-12 {
	margin:0 auto;
}

footer .col-5 {
	border-left:none;
	padding:0 25px 0 0;
}

.col-6 {
	padding:0 8px;
	margin-bottom:24px;
	}

.col-6:nth-of-type(even){
	padding-left:0;
}

.col-6:nth-of-type(odd){
	padding-right:0;
}

.col-2, .col-9, .col-10 {
	padding-left:16px;
	}

.col-4 {
	padding:10px;
}

.col-7, .col-9 {
	padding-right:64px;
}

.about {
	position:absolute;
	top:45%;
	left:11.5%;
	transform: translateY(-50%);
}

.about-2 {
	position:absolute;
	top:620px;
	left:220px;
}

.about-3 {
	position:absolute;
	top:50%;
	left:11.5%;
	transform: translateY(-50%);
}

.about-4 {
	position:absolute;
	top:10%;
	left:10%;
}

.col-8 h3 {
	display:inline;
}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}

.row {
    padding:250px 0;
    margin:0 auto;
}

.row-inner {
    padding:15px 0;
}

.row-interior {
    padding:25px 0;
}

.row-section {
	padding:50px 0;
}

.row, .row-inner, .row-interior::after {
    content: "";
    clear:both;
    display:table;
}

footer {
	border-top:solid #022A3A .1em;
	width:100%;
	padding:1em 0;
	background-color:#022a3a;
}

/*  PROJECT OVERLAY  PROJECT OVERLAY  PROJECT OVERLAY  PROJECT OVERLAY  */

.project {
	position:relative;
	top:0
	left:0;
	}

.project-img {
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	z-index:-2;
	float:left;
	}

.project-img-square {
    margin: 5px 0;
    padding:1px 4px;
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	}

.project-img-round {
    margin: 5px 0;
    padding:0 4px;
    border-radius:50%;
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	}

.about-img {
	display:block;
	width:100%;
	height:auto;
	z-index:-1;
	}

.details-img {
	padding:1em 0;
}

.overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 50%;
	opacity: .95;
	background-color: #FBFDFD;
/*	border-left:solid #022a3a 2px;*/
	}

.overlay-2{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 44.44%;
	background:#F1EEEC;
	opacity:.25;
	}

.overlay-2-type{
	position: absolute;
	top: 150px;
	left: 50px;
	height: 100%;
	width: 75%;
	opacity:1;
	}

.img-title {
	font-size:24px;
	line-height:26px;
	font-style:italic;
	font-weight:100;
	color:#022A3A;
	margin-bottom:8px;
}

.img-title:hover {
	color:#FE6359;
}

.img-title-position {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	padding:0 10px 0 0;
	margin:-15px 0 0 0;
}

/*  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  COLORS  */


.logo{
	fill:#022A3A;
	padding:20px;
	}

.logo:hover {
	fill:#FE6359;
	padding:20px;
}

.social-outline {
	fill: #022A3A;
    padding:0 16px;
	}
	
.social-outline:hover {
	fill: #FE6359;
	padding:30px 16px;
	}
 
.s-footer {
    fill: #fff;
    padding:15px 25px 15px 0;
    display:inline-block;
	}

.s-footer:hover {
	fill:#FFFCFB;
    padding:15px 25px 15px 0;
    display:inline-block;
}

.padding {
	padding:15px;

}

.padding:hover .social-outline-footer {
	fill: #FE6359;
}

.white {
	color:#fff;
	fill:#fff;
}

.sand {
	color:#FBFDFD;
	fill:#FBFDFD;
}

.st0{
	fill:#022A3A;
	}

.img-link:hover .st0:hover {
	fill:#F42534;
}

.s-footer .st0 {
	fill:#fff;
}

.st1{
	fill:#6EBF58;
	}

.brush{
	fill:#F94645;
	}

.xacto{
	fill:#022A3A;
	}

.pen {
	fill:#6EBF58;
	}

.philips{
	fill:#8B7F77;
	}

.spatula{
	fill:#BDBEC0;
	}

/*  POSITIONING  POSITIONING  POSITIONING  POSITIONING  POSITIONING  */

.first {
	position:absolute;
	float:left;
	padding: 16px;
	top:50%;
	transform: translateY(-50%);
	}

.first:hover .logo {
	fill:#FE6359;
}

.second {
	float:right;
	transform: translateY(50%);
	}

.fix {
	position:fixed;
	background:#fff;
	width:22%;
	padding: 100px 0 0 50px;
	}

.fix:hover {
	border-bottom: .1em solid #fff;
	}

.left{
	float:left;
}

.right{
	float:right;
}

.right {
	float:right;
}

/*  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT*/

input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px solid #778692;
    background-color:#fff;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #FE6359;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F42534;
}

/* Style the container/contact section */
.container {
    background-color: #fff;
    padding: 10px;
}

input, select, textarea, option {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	color:#022A3A;
	font-size: .8em;
	line-height: 1.25em;
}

button, label {
	font-family: "brandon-grotesque", sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:.67em;
	color: #022A3A;
	letter-spacing:.2em;
}

textarea {
	height:182px;
}

/*  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  IMAGES  */

img {
	width:100%;
	}

.gif-panel-1, .gif-panel-2, .gif-panel-3 {
	width:300px;
	height:200px;
	margin:0 20px 0 0;
}

.gif-panel-1 {
	background-image:url(../images/frank-tank.gif);
}

.gif-panel-2 {
	background-image:url(../images/corky-romano.gif);
}

.gif-panel-3 {
	background-image:url(../images/ron-swanson.gif);
}

/*  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  LINKS  */


.img-link {
	border-bottom:none;
	clear:both;
	}

.img-link:hover {
	border-bottom:none;
	clear:both;
	}

a {
	border-bottom: 3px solid #FE6359;
	padding-bottom: 1px;
	margin-bottom:1px;
	text-decoration:none;
	color:#022A3A;
	}

a:hover {
	text-decoration:none;
	border-bottom: 3px solid #FE6359;
	padding-bottom: 1px;
	margin-bottom:1px;
	color: #FE6359;
	}

.back-button {
	border-bottom: none;
	}

.back-button:hover {
	color:#FE6359;
	}

@media only screen and (max-width: 1000px) {
	.content-wrapper {
		width:90%;
	}

@media only screen and (max-width: 770px) {
	.content-wrapper {
		width:75%;
	}
	h1 {
		font-size:48px;
		line-height:63px;
	}

	[class*="col-"] {
    float:left;
    width:50%;
	}

	.col-12 {
		width:100%;
	}

	.col-4 {
		padding:12px;
	}

	.col-4:nth-of-type(3n + 1) {
		padding-left:0;
		padding-right:10px;
	}

	.col-4:nth-of-type(3n + 2) {
		padding-left:0;
	}

	.col-4:nth-of-type(3n + 3) {
		padding-right:0;
	}

	.title {
		margin-top:150px;
	}

	.panel-1 {
		 margin: 300px 0 0;
	}
}