*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	width: 95%;
}

.content-wrapper{
	display:inline-grid;
}

/*--------------->text styles<---------------*/

body {
	text-rendering: optimizeLegibility;
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
}

p{
	font-size: 16px;
	color: #1C1C1C;
	line-height: 1.5em;
	}

h1{
	font-size: 2em;
	font-weight:100;
	font-style:italic;
	line-height:175%;
	}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height:.25em;
	}

p.title {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .85em;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height:1em;
	float:left;
	border-bottom:2px solid #fff;
	padding:.75em 0 .2em 0;
}

p.title:hover {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .85em;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height:1em;
	float:left;
	border-bottom:2px solid #1c1c1c;
	padding:.75em 0 .2em 0;
}

p.tags {
	font-style: italic;
	font-weight: 500;
	font-size: .67em;
	float:right;
	margin-left:2%;
	border-bottom:2px solid #fff;
	padding:.75em 0 0 0;
}

p.tags:hover {
	font-style: italic;
	font-weight: 500;
	font-size: .67em;
	float:right;
	margin-left:2%;
	border-bottom:2px solid #1c1c1c;
	padding:.75em 0 0 0;
}

h5{
	font-family: "brandon-grotesque", sans-serif;
	text-transform:uppercase;
	font-weight: 600;
	font-size: 50%;
	letter-spacing:.1em;
	}

h6{
	font-style: italic;
	font-weight: 500;
	font-size: .75em;
	}

/*------------------>heading<------------------*/
.heading {
	margin: 10px auto;
	width: 100%;
}

.heading:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto 2em auto; /* This will center the border. */
    width: 96%; /* Change this to whatever width you want. */
	padding-top:3%;
	border-bottom: 2px solid #1c1c1c; /* This creates the border. Replace black with whatever color you want. */
}

nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .25em;
}

ul.nav{
	list-style-type: none;
	margin:0;
	overflow: hidden;
	padding:25px 1.5em 0 4em;
}

li.nav{
	float:right;
}

li.nav a {
	color: #1C1C1C;
	text-decoration: none;
	display:inline;
	padding-left:4em;
}

li.nav a:hover{
	color:#4CAF50;
}

.img-cap{
	padding: 2% auto;
	}

#nav-img {
	width:22%;
	height: auto;
	padding:0 0 2% 2%;
	float:left;
	box-sizing: border-box;
}

#intro-img {
	float:left;
	padding:3.5em 1em 1em 1em;
}

/*------------------>body<------------------*/

hr {
	color: #333;
}

ul.grid {
	list-style-type: none;
	position: relative;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

li.hello {
	display: inline-block;
	padding:2% .75% 0 .75%;
    margin-bottom: 2%;
}

li.hello:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto 2em auto; /* This will center the border. */
    width: 96%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
	border-bottom: 2px solid #1c1c1c; /* This creates the border. Replace black with whatever color you want. */
}

li.two-per-row {
	display: inline-block;
	padding:2% .75% 0 .75%;
    margin-bottom: 2%;
}

li.two-per-row:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto .5em auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 2.5em; /* This creates some space between the element and the border. */
	border-bottom: 1px solid #999; /* This creates the border. Replace black with whatever color you want. */
}

img{
	width:100%;
	}

li.icons {
	display: inline;
    width: 100%;
    text-align: center;
    padding:2em;
}

footer {
	text-align: left
	line-height: .15em;

}

footer:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto 2em auto; /* This will center the border. */
    width: 96%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
	border-bottom: 2px solid #1c1c1c; /* This creates the border. Replace black with whatever color you want. */
}


/*-------------->media queries<-------------*/

	/*desktop*/
	@media only screen and (min-width:1001px){
	[class*="two-per-row"] {
	float:left;
	width:33%;
	}
}
	/*tablet*/
	@media only screen and (max-width:1000px){
	[class*="two-per-row"] {
	float:left;
	width:50%;
	}
}

	/*mobile*/
	@media only screen and (max-width:600px){
	[class*="two-per-row"] {
	float:none;
	width:100%;
	}

	[class*="nav"] {
	display:block;
	float:none;
	padding:0;
	font-size:1.1em;
	line-height: 4em;
	text-align:center;
	width:100%;
	}

	[id*="nav-img"] {
	float:none;
	margin:0 auto;
	width:95%;
	}	

	[class*="hello"] {
	float:none;
	display:inline;
	margin:0 auto;
	padding:0 auto;
	width:100%;
	}

}


