h1{
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #000;
}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: .1em;
}

h6{
	font-family: adobe-caslon-pro, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 9px;
	color: #000;
}

p{
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	color: #000;
}

nav a{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: .25em;
}

ul {
  	font-family: adobe-caslon-pro, serif;
	font-style: italic;
	font-weight: 500;
	font-size: 14px;
	line-height: 2em;
	color: #000;
	list-style-type: none;
}

a:link {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	color: rgba (63, 174, 32, .8)
}

a:visited {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	color: rgba (63, 174, 32, .8)
}

a:hover {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	color: rgba (63, 174, 32, .8)
}

a:active {
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	color: rgba (244, 37, 52, .8)
}

#intro {
	font-size: 21px;
	line-height: 1.5em;
	color: #000;
}

#logo {
	max-width: 175px
}

