/*reference
		color: rgba(115, 134, 153, .67) - light gray
		color: #1c1c1c - site black
		color: #6EBF58 - green
		color: #FE6359 - red*/

* {
	margin:0 auto;
	padding:0;
	max-width:1100px;
	}

body {
	font-family: adobe-caslon-pro, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #022A3A;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	}

h1{
	font-size: 2.5em;
	font-weight: 100;
	font-style: italic;
	line-height: 1.5em;
	}

h2{
	font-size:1.75em;
	font-weight:500;
	line-height:1.25em;
	color:#738698;
	}

h3{
	font-family: "brandon-grotesque", sans-serif;
	text-transform:uppercase;
	font-size:.9em;
	letter-spacing:.05em;
	font-weight:600;
	}

h4{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.67em;
	font-weight:600;
	text-transform:uppercase;
	color: #9AA5B3;
	}

h5{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	display:inline;
	}

.uppercase {
	text-transform:uppercase;
	font-weight:400;
	font-size:.7em;
}

h6{
	font-size:.75em;
	font-weight:400;
	font-style:italic;
	}

p{
	font-family: adobe-caslon-pro, serif;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
	color: #022A3A;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;	
}

.wrapper {
	width:100%;
	margin:0 auto;
}

.header {
	width:inherit;
	border-bottom: .15em solid #022A3A;
	padding: 16px 0 0 0;
	margin: 0 0 8px;
	position:fixed;
	background:#fff;
	z-index: 999
	}

.first {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	}

.third {
	}

nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	text-transform:uppercase;
	margin: auto;
	letter-spacing:.1em;
	}

nav a {
	border-bottom: .1em solid #fff;
	float:left;
	margin:40px 12px;
}

nav a:hover {
	border-bottom: .1em solid #fff;
	color: #FE6359;
	}

a {
	border-bottom: .05em solid #FE6359;
	padding-bottom: .03em;
	text-decoration:none;
	color:#022A3A;
	}

a:hover {
	text-decoration:none;
	border-bottom: .05em solid #FE6359;
	padding-bottom: .03em;
	color: #FE6359;
	}

img {
	width:100%;
	}

.img-link {
	border-bottom:none;
	}

.img-link:hover {
	border-bottom:none;
	}

.social-fill{
	fill:#fff;
	} 

.social-outline{
	fill:#022A3A;
	}

.social-fill:hover {
	fill: #FE6359;
	}

.social-outline:hover {
	fill: #FE6359;
	}

.logo{
	fill:#022A3A;
	}

.logo:hover{
	fill:#FE6359;
	}

#logo {
	width:67%;
	padding:1em 4em;
	}

.img-intro {
	width:33%;
	padding:2em 7em 0 6em;
}

main {
	padding-top:125px;
}

.fix {
	position:fixed;
	border-bottom: .1em solid #fff;
	background:#fff;
	width:100%;
}

.fix:hover {
	border-bottom: .1em solid #fff;
}

aside {
    width: 30.33%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 1em 0;
    margin-right:3%;
	}

.border {
	border-bottom:.07em #022A3A solid;
	padding-bottom:1em;
	margin-bottom:2em;
}

.thin-border {
	border-bottom:.03em #022A3A solid;
	padding-bottom:1em;
	margin-bottom:2em;
}

.bordered {
	border-top:.03em #022A3A solid;
	border-bottom:.05em #022A3A solid;
	padding:.2em 0;
	margin-bottom:2em;
}

.back-button:hover {
	color:#FE6359;
}

.center {
	text-align:center;
}

.two-column {
	column-count: 2;
	column-gap:.25em;
}

.subheading {
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding: 0 1em .5em 1%;
	}

.left {
	float:left;
}

section {
	width:66.67%;
	float:left;
	}

.project-container {
	box-sizing:border-box;
	padding:.5em .25em .5em .25em;
}

.project {
	width:50%;
	position:relative;
	float:left;
}

.project:hover .overlay {
	opacity:.97;
}

.project-img {
	box-sizing:border-box;
	padding:.5em .25em 0 .25em;
	border-bottom:none;
	display:block;
	width:100%;
	height:auto;
	}

.img-title {
	position: initial;
	left:50%;
	text-align:center;
	}

h2 {
	font-size:1em;
}

.overlay {
	position: absolute;
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #fff;
	}

.img-social {
	padding:2em 0 0 2.5em;
	float:right;
	display:inline;
}

.columns {
	padding:1%;
	float:left;
	column-count:2;
	column-gap:1.5em;
}

li {
	list-style-type: none;
	font-family: adobe-caslon-pro, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	color: #022A3A;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;	
}

footer {
	float:left;
	border-top: .125em solid #022A3A;
	width:100%;
	text-align:center;
	padding:1em 0;
}

.foot {
	color: #022A3A;
	font-size:.8em;
}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}


@media only screen and (max-width: 1100px) {

	body {
		max-width:990px;
		margin:0 auto;
	}

	.wrapper {
		width:100%;
	}

	.header {
		width:inherit;
		padding-top:1.5em;
	}

	.img-intro {
	    width: 10%;
	    display:block;
	    margin:0 auto;
	}

	aside {
		width:100%;
		margin-right:0;
		padding: 0 .375em 1em .375em;
		text-align:center;
	}

	section {
		width:100%;
		padding: 0 .375em 1em .375em;
	}

	.project {
		box-sizing:border-box;
		width:33.33%;
		padding:.05em .1em;
		margin:0 auto;
		}

	.project:hover {
		border-bottom:none;
		padding:0 0 .6em .6em;
		}


@media only screen and (max-width: 820px) {

	.wrapper {
	    width:90%;
		}

	#logo {
	    width: 40%;
	    padding: 1em 15em;
		}

	.project-container {
		box-sizing:border-box;
		padding:.5em 0;
	}

	.project:hover .overlay {
		display:none;
	}

	.project-img {
		padding:.5em 0;
	}

	.project {
		width:100%;
		float:none;
		padding:0;
	}

	.img-social {
		display:none;
		}

	.img-title, .img-tag {
		display:none;
	}

	nav {
		font-size:.9em;
    	padding-top: 5em;
    	line-height: .75em;
		}

	nav a {
		margin: 40px 42px 20px;
    	padding: 0 2.25em;
		}

/*	.img-social {
	    width: 30%;
	    padding: 0 1em;
	    box-sizing: border-box;
	    margin:auto
		}*/

	h1 {
		line-height:150%;
		}
	
	main {
		padding-top:220px;
		margin:0 auto;
	}

	.img-intro {
	    width: 15%;
	    display: block;
	    margin: 0 auto;
	}

	aside {
		width:100%;
		}

	section {
		width:100%;
		padding:0;
	}

	.subheading {
	    width: 100%;
		}

	.columns {
		column-count:1;
	}

	.project {
		width:100%;
		}

	.project-title {
		display:none;
		}

	footer {
		font-size:1em;
	}
}

@media only screen and (max-width: 725px) {

	.img-intro {
	    display:none;
	}

	.header {
    margin-bottom:10px;
	}

	.second {
		padding:1em 0 .5em;
		float:left;
	}

    main {
		padding-top:200px;
		width:100%;
	}

	aside {
		padding-top:1em;
		width:inherit;
	}
}

@media only screen and (max-width: 625px) {

	.img-intro {
	    display: none;
	}

	main {
		padding-top:320px;
		margin:0 auto;
		width:100%;
	}

	nav {
    	line-height: .6em;
		}

	nav a {
		float:none;
		margin:40px 12px 10px;
		display:block;
		}

}


@media only screen and (max-width: 350px) {

	h1 {
		font-size:1.75em;
		}

	.wrapper {
		width:90%;
		padding:0;
		}

	main {
		padding-top:330px;
		margin:0 auto;
		width:100%;
	}

	section {
		margin: 0 auto;
	}

	.img-intro {
	    display: none;
	}
}
