/*reference
		color: rgba(115, 134, 153, .67) - light gray
		color: #1c1c1c - site black
		color: #6EBF58 - green
		color: #FE6359 - red*/

* {
	margin:0;
	padding:0;
	}

body {
	font-family: adobe-caslon-pro, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #1c1c1c;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	}

h1{
	font-size: 2em;
	font-weight: 100;
	font-style: italic;
	line-height: 1.5em;
	}

h2{
	font-size:1.75em;
	font-weight:400;
	color: rgba(115, 134, 153, .67);
	line-height:1.25em;
	}

h3{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.9em;
	font-weight:600;
	text-transform:uppercase;
	color: #1c1c1c;
	}

h4{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	text-transform:uppercase;
	color: #1c1c1c;
	}

h5{
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	display:inline;
	}

.uppercase {
	text-transform:uppercase;
	font-weight:400;
	font-size:.7em;
}

h6{
	font-size:.75em;
	font-weight:400;
	font-style:italic;
	}

p{
	font-family: adobe-caslon-pro, serif;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
	color: #1c1c1c;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;	
}

.wrapper {
	max-width:1100px;
	margin:0 auto;
}

.header {
	width:100%;
	border-bottom: .25em solid #1c1c1c;
	margin-bottom: 8px;
}

.one-third {
	width:33%;
	float:left;
	margin:0 auto;
}

nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size:.75em;
	font-weight:600;
	text-transform:uppercase;
	margin: auto;
	letter-spacing:.1em;
}

nav a {
	border-bottom: .1em solid #fff;
	float:left;
	margin:40px 12px;
	color: #1c1c1c;
}

nav a:hover {
	border-bottom: .1em solid #fff;
	color: #FE6359;
}

a {
	border-bottom: .1em solid #FE6359;
	padding-bottom: .1em;
	text-decoration:none;
	color:#1c1c1c;
}

a:hover {
	text-decoration:none;
	border-bottom: .1em solid #FE6359;
	padding:0 0 .6em .6em;
	color: #FE6359;
}

.alignment {
	padding-right:2em;
}

img {
	width:100%;
	}

.img-link {
	border-bottom: .01em solid #fff;
	padding:0 0 .8em .6em;
}

.img-link:hover {
	border-bottom: .01em solid #fff;
	padding:0 0 .8em .6em;
}

#logo {
	width:67%;
	padding:1em 4em;
	}


.img-intro {
	width:33%;
	padding:2em 7em 0 6em;
}

.img-title {
	display:inline;
	float;left
}

.img-title:hover {
	color:#FE6359;
}

.img-tag {
	display:inline;
	float:right;
}

aside {
    width: 32.33%;
    float: left;
    box-sizing: border-box;
    padding: 1em 0;
    margin-right:1%;
	}

.border {
	border-bottom:.1em #1c1c1c solid;
	padding-bottom:1em;
	margin-bottom:2em;
}

.subheading {
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding: 1em 1em .5em 1%;
	}

.left {
	float:left;
}

section {
	width:66.67%;
	float:left;
	}

.project-container {
	box-sizing:border-box;
}

.project {
	float:left;
	box-sizing:border-box;
	width:50%;
	padding: 0 0 .6em .6em;
	border-bottom:none;
}

.project:hover {
	border-bottom:none;
	padding:0 0 .6em .6em;
}

.img-social {
	width:8%;
	padding:2em 0 0 2.5em;
	float:right;
}

.columns {
	padding:1%;
	float:left;
	column-count:2;
	column-gap:1.5em;
}

li {
	list-style-type: none;
	font-family: adobe-caslon-pro, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	color: #1c1c1c;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;	
}

footer {
	float:left;
	border-top: .125em solid #1c1c1c;
	width:100%;
	text-align:center;
	padding:1em 0;
}

.foot {
	color: #1c1c1c;
	font-size:.8em;
}

.clearfix:after {
	display:block;
	clear:both;
	content:"";
}


@media only screen and (max-width: 1100px) {

	body {
		width:95%;
		margin:0 auto;
	}


@media only screen and (max-width: 820px) {

	body {
		width:98%;
	}

	.wrapper {
	    width:85%;
		}

    .header {
	    width: 100%;
	    float:none;
		}

	#logo {
		width:100%;
		padding:.5em 0;
	}

	.img-social {
		display:none;
		}

	nav {
		font-family: "brandon-grotesque", sans-serif;
		font-size:1.25em;
		font-weight:600;
		text-transform:uppercase;
		letter-spacing:.15em;
		margin: auto;
		padding-top: 20px;
		}

	nav a {
		text-align:center;
		margin:0 auto;
		padding-top:20px;
		display:block;
		float:none;
		}

/*	.img-social {
	    width: 30%;
	    padding: 0 1em;
	    box-sizing: border-box;
	    margin:auto
		}*/

	h1 {
		font-size:1.5em;
		line-height:150%;
		}

	article {
		float:none;
		}

	.one-third {
		width:100%;
		float:none;
		}

	.img-intro {
	    margin: auto;
		}

	.alignment {
		float:none;
		}

	aside {
		width:100%;
		}

	.subheading {
	    width: 100%;
		}

	.columns {
		column-count:1;
	}

	section {
		float:none;
		width:100%;
		}

	.project {
		width:100%;
		padding: 0 0 .5em 0;
		}

	.project-title {
		display:none;
		}

	footer {
		font-size:1em;
	}
}
