*{
	margin: 0 auto;
	box-sizing: border-box;
	max-width:1200px;
/*	padding: 8px;*/
}

body {
	margin: 0 auto;
	padding: 8px;
	font-family: adobe-caslon-pro, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #1c1c1c;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	width:100%;
	}

/*--------------->classes & ids<---------------*/

.heading {
	width: 100%;
	padding: 8px;
}

.heading:after {
    content: "";
    /* This is necessary for the pseudo element to work. */ 
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 1em auto;
    /* This will center the border. */
    width: 100%;
    /* Change this to whatever width you want. */
    padding-top: 1em;
    /* This creates some space between the element and the border. */
	border-bottom: 8px solid #1c1c1c;
	/* This creates the border. Replace black with whatever color you want. */
	}

.intro {
	width:100%;
}

.intro:after {
    content: "";
    /* This is necessary for the pseudo element to work. */ 
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 1em auto;
    /* This will center the border. */
    width: 100%;
    /* Change this to whatever width you want. */
    padding-top: 1em;
    /* This creates some space between the element and the border. */
	border-bottom: 1px solid #1c1c1c;
	/* This creates the border. Replace black with whatever color you want. */
	}
}
.img-cap{
	padding: 2% auto;
	}

#nav-img {
	float:left;
	}

#intro-img {
	width:9%;
	}

#synop {
	float:left;
}

.columns {
	padding:1%;
	float:left;
	column-count:2;
	column-gap:2.5em;
}

.img-link {
	border-bottom: 2px solid #fff;
	padding:.75em 0 0 0;
	}


/*--------------->text styles<---------------*/
p {
	padding-bottom: 1em;
}

p.title {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: .1em;
	float:left;
	padding-top: .1em;
	color: rgba(85, 86, 90, .75);
}

p.title:hover {
	color: #f42534;
}

p.tags {
	font-style: italic;
	font-weight: 500;
	font-size: .75em;
	float:right;
	margin-left:2%;
	padding-top: .1em;
	color: rgba(85, 86, 90, .75);
}

p.tags:hover {
	font-style: italic;
	font-weight: 500;
	font-size: .75em;
	float:right;
	margin-left:2%;
	color: #f42534;
}

h1{
	font-size: 2em;
	font-weight: 100;
	font-style: italic;
	line-height: 1.25em;
	}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height:1.5em;
	}

h3{
	font-size: 1.2em;
	font-weight: 300;
	}

h4{
	font-family: "brandon-grotesque", sans-serif;
	text-transform:uppercase;
	font-weight: 600;
	font-size: 80%;
	letter-spacing:.1em;
	}

h5{
	font-family: "brandon-grotesque", sans-serif;
	text-transform:uppercase;
	font-weight: 600;
	font-size: .75em;
	letter-spacing:.1em;
	}

h6{
	font-style: italic;
	font-weight: 500;
	font-size: .75em;
	}


a {
	color: #1c1c1c;
	text-decoration:none;
	border-bottom: 2px solid #f42534;
	padding:.75em 0 0 0;
}

a:hover {
	color: #f42534;
	}


nav {
	font-family: "brandon-grotesque", sans-serif;
	font-size: .75em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .25em;
	}

nav a {
	border-bottom: 2px solid #fff;
	padding-left: 2em;
	}


/*------------------>tags<------------------*/


aside{
	float:left;
	width:33%;
	padding:1% 0 0 0;
	}

article {
	width:67%;
	margin-bottom:2em;
}

section {
	margin-bottom:1em;
	overflow:hidden;
}


ul {
	padding:0;
}

ul.social {
	width:33%;
	float:right;
}

ul.grid {
	list-style-type: none;
	position: relative;
    display: flex;
    flex-wrap: wrap;
	}

li {
	list-style-type: none;
	line-height:1.5em;
	margin:auto 0;
	}

li.list-title {
	font-family: "brandon-grotesque", sans-serif;
	text-transform:uppercase;
	font-weight: 600;
	font-size: 80%;
	letter-spacing:.1em;
}

li.nav {
	float:right;
	}

li.column {
	font-style:italic;
	text-align:justify;
}

li.hello {
	display: inline-block;
	width: 100%;
}

li.hello:after {
    content: "";
    /* This is necessary for the pseudo element to work. */ 
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto 2em auto;
    /* This will center the border. */
    width: 98%;
    /* Change this to whatever width you want. */
    padding-top: 40px;
    /* This creates some space between the element and the border. */
	border-bottom: 2px solid #1c1c1c;
	/* This creates the border. Replace black with whatever color you want. */
	}

li.two-per-row {
    padding:.5em;
    box-sizing:border-box;
	}

li.two-per-row:after {
    content: "";
    /* This is necessary for the pseudo element to work. */ 
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto .5em auto;
    /* This will center the border. */
    width: 100%; 
    /* Change this to whatever width you want. */
    padding-top: 1.5em;
    /* This creates some space between the element and the border. */
	border-bottom: 1px solid #999;
	/* This creates the border. Replace black with whatever color you want. */
	}

li.icons {
	float:right;
	padding-left:2em;
	}

img {
	width:100%;
	}

footer {
	text-align: left;
	line-height: .15em;
	width: 100%;
	padding-top: 20px;
	border-top: 4px solid #1c1c1c;
	float:left;
	}


/*-------------->media queries<-------------*/

	/*desktop*/
	@media only screen and (min-width:1101px){
	[class*="two-per-row"] {
	float:left;
	width:33%;
	}
}
	/*tablet*/
	@media only screen and (max-width:1100px){
	[class*="two-per-row"] {
	float:left;
	width:50%;
	}
}

@media only screen and (max-width:810px){

		[class*="nav"] {
		float:none;
		padding-left:0;
		font-size:1.1em;
		line-height: 2em;
		text-align:center;
		width:100%;
		}

		[id*="nav-img"] {
		margin:0 auto;
		width:100%;
		}		
}

	/*mobile*/
	@media only screen and (max-width:705px){

	[class*="two-per-row"] {
		float:none;
		width:100%;
		}

	[class*="nav"] {
		float:none;
		padding-left:0;
		font-size:1.1em;
		line-height: 2em;
		text-align:center;
		width:100%;
		}

	[id*="nav-img"] {
		margin:0 auto;
		width:100%;
		}	

	[class*="hello"] {
		display:inline;
		margin:0 auto;
		padding:0 auto;
		width:100%;
		}

	[id*="intro-img"] {
		width:67%;
		margin:0 auto;
		}

	h1 {
		font-size:1.5em;
		line-height:150%;
	}

	[class*="tags"]{
		display:none;
	}
}


