/*Type Styles*/
body{
	font-family: adobe-caslon-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #1C1C1C;
	line-height: 1.5em;
	margin: 0;
	}

h1{
	font-size: 1.3em;
	margin: 0;
	}

h2{
	font-family: "brandon-grotesque", sans-serif;
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0;
	}

h6{
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
	margin: 0;
	}

p{
	width: 30em;
	line-height: 1.5em;
	margin:0;
	}

p-two{
	float:right;
}

ul{
  	font-style: italic;
	font-weight: 500;
	line-height: 2em;
	list-style-type: none;
	}

ul-two{
  	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	line-height: 1.5em;
	list-style-type: none;
	}

/*Link Styles*/
nav {
	color: #1C1C1C;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .25em;
	display: block;
	line-height: 1.5em;
	width: 160px;
}

a{	text-decoration: none;
	color: #1C1C1C;
}

a:hover {
	border-bottom: 2px solid rgba(244, 37, 52, .8);
	padding-bottom: 4px;
	}


/*IDs*/
#intro {
	font-size: 21px;
	line-height: 1.5em;
	color: #1C1C1C;
	}

#logo {
	max-width: 175px;
	}

#nav {
	padding: 0px 20px;
	}	

/*Classes*/
.images{
	width: 490px;
	height: 460px;
	}

.images-half{
	width: 235px;
	height: 460px;
	}

.no-border a:hover {
	text-decoration: none;
}

.social-links {
	padding-bottom: 3em;
}

.project-page-images{
	width: 100%;	
}

.overflow {
    white-space: nowrap; 
    width: 30em; 
    word-wrap:;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/*Body Styling*/
header{
	max-width: 160px;
	position: fixed;
}

main {
	margin: 0px 0px 0px 200px;
	}

section {
	margin: 10px;
}

article-main {
	width: 510px;
	height: 580px;
	display: block;
	margin: 10px;
	}

article-main-half {
	width: 255px;
	height: 580px;
	display: block;
	margin: 10px;
	}

article-second {
	max-width: 800px;
	display: block;
	margin: 10px;
	float: right;
	}

aside {
	float: left;
}

footer{
	max-width: 160px;
}
